<!DOCTYPE html>
<html>

<head>
	<meta charset="ISO-8859-1">
	<link th:rel="stylesheet" th:href="@{/webjars/bootstrap/5.3.2/css/bootstrap.min.css}" />
	<title>Insert title here</title>
</head>

<body>
	<div class="container mt-3">
		<h1 class="mb-4">My categories</h1>
		<table class="table">
			<thead>
				<tr>
					<th scope="col">Id</th>
					<th scope="col">Name</th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="category : ${categories}">
					<th>[[${category.id}]]</th>
					<td>[[${category.name}]]s</td>
					<td><a class="btn btn-primary btn-sm" th:href="@{category/{id}(id=${category.id})}">See more</a></td>
				</tr>
			</tbody>
		</table>
	</div>
</body>

</html>