<!DOCTYPE html>
<html>

<head>
	<meta charset="ISO-8859-1">
	<link th:rel="stylesheet" th:href="@{/webjars/bootstrap/5.3.2/css/bootstrap.min.css}" />
	<title>Insert title here</title>
</head>

<body>
	<div class="container mt-3">
		<h1 class="mb-4">My categories</h1>
		<table class="table">
			<thead>
				<tr>
					<th scope="col">Id</th>
					<th scope="col">Name</th>
					<th scope="col">Color</th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="category : ${categories}">
					<th>[[${category.id}]]</th>
					<td>[[${category.name}]]s</td>
					<td>[[${category.color}]]</td>
					<td class="d-flex gap-2">
						<a class="btn btn-primary btn-sm" th:href="@{category/{id}(id=${category.id})}">See more</a>
						<form sec:authorize="hasAuthority('ADMIN')" th:action="@{/category/{id}/delete (id=${category.id})}" method="POST">
							<button class="btn btn-danger btn-sm" type="submit">Delete</button>
						</form>
					</td>
				</tr>
			</tbody>
		</table>
		<a sec:authorize="hasAuthority('ADMIN')" class="btn btn-primary btn-sm" href="/category/create">Create new category</a>
		<a th:replace="returnButton :: button('/', 'Return')"></a>
	</div>
</body>

</html>