<!DOCTYPE html>
<html>

<head>
	<meta charset="ISO-8859-1">
	<link th:rel="stylesheet" th:href="@{/webjars/bootstrap/5.3.2/css/bootstrap.min.css}" />
	<title>My photography</title>
</head>

<body>
	<div class="container">
		<div class="row mt-4">
				<div class="col-10 d-flex align-items-start gap-3">
					<form class="d-flex w-25 mb-4" role="search">
						<input class="form-control me-2" type="search" placeholder="Search" th:value="*{searchValue}"
							name="searchValue">
						<button class="btn btn-outline-success" type="submit">Search</button>
					</form>
					<div sec:authorize="hasAuthority('ADMIN')">
						<a href="/photo/create" class="btn btn-primary">Add new photo</a>
					</div>
					<a href="/category" class="btn btn-secondary">My categories</a>
					<a href="/message" class="btn btn-secondary">My messages</a>
				</div>
				<div class="col-2 d-flex flex-column align-items-center" th:if="${username} != null">
					User: [[${username}]]
					<a class="btn btn-danger btn-sm mt-2" href="/logout">Logout</a>
				</div>
				<div class="col-2" th:if="${username} == null">
					<a class="btn btn-primary" href="/login">Login</a>
				</div>
			</div>
		<div class="row row-cols-4 mt-5">
			<div class="col mb-5" th:each="photo : ${photos}">
				<div class="card" style="width: 18rem;">
					<img th:src="@{${photo.url}}" class="card-img-top">
					<div class="card-body">
						<h5 class="card-title">[[${photo.title}]]</h5>
						<p class="card-text">[[${photo.description}]]</p>
						<a th:href="@{photo/{id}(id=${photo.id})}" class="btn btn-primary btn-sm">See more</a>
						<a sec:authorize="hasAnyAuthority('ADMIN')" th:href="@{photo/edit/{id}(id=${photo.id})}"
							class="btn btn-warning btn-sm">Edit</a>
						<form sec:authorize="hasAuthority('ADMIN')" class="d-inline-block"
							th:action="@{/photo/{id}/delete (id=*{photo.id})}" method="POST">
							<button class="btn btn-danger btn-sm" type="submit">Delete</button>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>

</html>